<!DOCTYPE html>
    
    <%- include("parts/head")  %>

    <body class="container">
        <%- include("parts/header")  %> 
        <main>
            <div class="jumbotron jumbotron-fluid">
                <h1>Node com EJS</h1>
                <p>Vamos aprender a trabalhar com arquivos EJS</p>
            </div>
        </main>
        <%- include("parts/footer")  %> 
    </body>
</hmtl>